@if $show_in_admin == "false" {
  body.admin-interface .breadcrumbs {
    display: none;
  }
}

@if $display_on_mobile == "false" {
  @media (max-width: 1026px) {
    .breadcrumbs {
      display: none !important;
    }
  }
}

@if $sticky-under-header == "true" {
  .breadcrumbs {
    position: sticky !important;
    top: calc(var(--header-offset)) !important;
  }
  .topic-post.sticky-avatar > article > .row > .topic-avatar {
    top: calc(var(--header-offset) + 25px);
  }
}

.breadcrumbs {
  z-index: 101;
  background: var(--primary-low);
  border-radius: var(--d-border-radius);
  margin-bottom: 0.5rem;
  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-medium);
    font-size: 15px;
    gap: 0.5em;
  }
  &__title {
    .d-icon {
      font-size: 13px;
      padding-left: 0.25em;
    }
  }
  &__links {
    display: flex;
    list-style: none;
    margin: .2em .5em;
    a {
      color: var(--tertiary);
      &:hover {
        color: var(--tertiary);
      }
    }
    .parent::before,
    .current::before,
    .first-level + .home::before {
      content: "\00a0 /";
    }
  }
}

@if $show_topic_title == "false" {
  li.current.topic {
    display: none;
  }
}
